<link rel="stylesheet" href="/css/footer.css">
<div id="foot">
    
                

               <h4>&copy; Sk.Md Irfan Production. All Rights Reserved </h4>
             
                

               
                
       
           
    <!-- </div> -->
</div>