
<link rel="stylesheet" href="/css/signin.css">
<div id="main">
    <h1>Sign In</h1>
<form class="formdata" action="/users/create-session" method="POST">
    <input class="empass" type="email" name="email" placeholder="Email"  required>
    <input class="empass" type="password" name="password" placeholder="Password"  required>
    <br><input id="but2" type="submit" value="Sign In">
 </form>
</div>