#foot {
   
    height: 12vh;
    width: 100vw;
   color: white;
   text-align: center;
   font-family: Helvetica;
   background-image: linear-gradient(to right,#55788a,#4f7182,#426475);
   overflow: hidden;
    


}