main{
    background-image: linear-gradient(to right,#d3f2f2,#dff5f5,#e1f2f2);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90vw;
    margin-left: 4vw;
    
    color: #2d2e2e;
    font-family: helvetica;
}

.comments {
    background-color: white;
    padding: 3vh 3vw;
    list-style: none;
    border: 1px solid #c3c9c9;
    border-radius: 5px;
}




#but2 {
    border: none;
    background-color: #3e854c;
    color: aliceblue;
    padding: 10px 8px;
    border-radius: 3px;
    font-family: helvetica;
    margin-top: 2vh;
}

textarea {
    outline: none;
    border: 3px solid #c3c9c9;
    overflow: auto; 
    resize: none; 
}