#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #d3f2f2, #dff5f5, #e1f2f2);
  color: #2d2e2e;
  font-family: helvetica; }

#but2 {
  border: none;
  background-color: #3e854c;
  color: aliceblue;
  padding: 10px 8px;
  border-radius: 3px;
  font-family: helvetica;
  margin-top: 2vh; }

textarea {
  outline: none;
  border: 3px solid #c3c9c9;
  overflow: auto;
  resize: none; }
